<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('header') %>
  </head>
  <body>
    <script src="/javascripts/index.js"></script>
    <script>renderPage(<%=page%>);</script>
    <%- include('nav') %>
    <div id='content'></div>
  </body>
</html>
