<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('header') %>
    <link rel="stylesheet" href="/stylesheets/search.css">
    <title>검색 | Re:hiyobi</title>
    <script>
        let card;
        $.get('/ejs/card.ejs').done(e => {
            card = e;
        })
    </script>
</head>
<body>
    <%- include('nav') %>
    <div id="searchbox">
        <div id="textbox">
            <div id="tags"></div>
            <input type="text" id="query" autocomplete="off" list="autocomplete">
            <datalist id="autocomplete">
            </datalist>
        </div>
        <input type="button" id="sumbit" value="검색">
    </div>
    <div id="content">
    </div>
    <script src="/javascripts/search.js"></script>
</body>
</html>