@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

.card {
    font-family: 'Nanum Gothic', sans-serif;
}

.card > table > tbody > tr > td {
    font-size: 16px;
    height: 21px;
}

.card > table > tbody > tr > td:first-child {
    width: 45px;
}

.card > table> tbody> tr > td > a:hover:not(.nohightlight):not(.tag) {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    color: #007bff;
}

.card {
    margin: 0 auto;
    cursor: pointer;
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    color: black;
    border: 1px black solid;
    border-radius: 5px;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(1, 1, 1, 0.5);
}

.tag {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: gray;
    border-radius: 5px;
    height: 23px;
    line-height: 23px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 2px;
    margin-left: 0;
    width: auto;
    vertical-align: middle;
    display:inline-block;
    color: whitesmoke;
}

.tag[gender='male'] {
    background-color: rgb(65, 149, 244);
}

.tag[gender='female'] {
    background-color: rgb(255, 94, 94);
}

.thumbnail > img {
	/*position: absolute;*/
    object-fit: scale-down;
    display:block;
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
}



.thumbnail {
    /*height: 50%;*/
    /*width: 95%;*/
    position: relative;
    margin-bottom: 10px;
}

.thumbnail {
    /*height: 50%;*/
    /*width: 95%;*/
    position: relative;
    margin-bottom: 10px;
}