#query {
    float:right;
    font-family: 'Nanum Gothic', sans-serif;
    /*display: inline-block;*/
    border: none;
    width: 100%;
    margin: 0;
    margin-left: 1px;
    box-sizing: border-box;
    height: 20px;
}
#query:focus {
    border: none;
}

#tags {
    float:left;
    margin:0;
    margin-left: 1px;
    width: auto;
    /*display: inline-block;*/
    text-decoration: none;
}

#tags > li {
    display: inline-block;
}

#textbox {
    display:inline-block;
    margin-top: 15px;
    height: 20px;
    width: 80%;
    border: gray solid 1px;
}

.tag {
    background-color: gray;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 2px;
    width: auto;
    vertical-align: middle;
    display:inline-block;
    color: whitesmoke;
}

.tag:first-child {
    margin-left: 0;
}

.tag[gender='male'] {
    background-color: rgb(65, 149, 244);
}

.tag[gender='female'] {
    background-color: rgb(255, 94, 94);
}

#sumbit {
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
    text-align: center;
    /*height: auto;*/
    vertical-align: middle;
    width: 18%;
    height: 25px;
    margin-top: -15px;
    background-color: gray;
    color: white;
    border: gray solid 1px;
    border-radius: 5px;
}

#searchbox {
    display: block;
    width: 90%;
    margin: 0 auto;
}